PyQt5~=5.15.4
requests>=2.26.0
pypresence==4.2.0
jsonschema~=4.6.0
psutil~=5.9.7
selenium~=4.16.0
getmac~=0.9.4
wmi~=1.5.1
pyperclip~=1.8.2
flask~=3.0.0
waitress~=2.1.1
msgpack~=1.0.7
pynput~=1.7.6
UnityPy~=1.9.21